.background-img {
    background-image: url('../public/Img/background3.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    border: 1 px solid;
    border-radius: 20px;

}

.logo-img {
    background-image: url('../public/Img/Logo.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}


