html, body {
    height: 100%;
    margin: 0;
  }
  

.background-img {
    background-image: url('../public/Img/backgroundopt3.jpg');
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    width: 100%; 
    border: 1 px solid;
    

}

.bg-banner-img {
    background-image: url('../public/Img/banner-artesano_Mesa-de-trabajo-2.jpg');
    background-size: cover;
    background-position: center;
    object-fit: cover;
    height: 50vh;
    width: 100%;
}

.logo-img {
    background-image: url('../public/Img/Logo.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.header{
    background-color: white;
    width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
    height: 115px;
}


